/* CSSS style to layout cover */

/* changer les variables largeur, hauteur (format de la page), marges et position du footer */
:root {
  --page-width: 42cm;
  --page-height: 29.7cm;
  --cover-width: 14.85cm;
  --cover-height: 21cm;
  --back-cover: 2cm;
  --page-margin: 1cm;
  --page-margin-center: 1.8cm;
  --page-footer-bottom: 0.5cm;
  --page-footer-margin: 1.8cm;

  --total-cover: calc(var(--cover-width) + var(--back-cover) + var(--cover-width));
  --color-cropmark: black;

}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

.page {
  --page-padding-vertical: calc(var(--page-height)- var(--cover-height));
  --page-padding-horyzontal: calc(var(--page-width) - var(--total-cover));
  width: calc(var(--page-width) + 1);
  height: calc(calc(var(--page-height) - var(--page-margin) * 2) - 1mm);
  page-break-after: always;
  position: relative;
  padding: calc(29.7cm - 21cm) calc(42cm - var(--total-cover));
}

/* ajouter la classe .center pour centrer un élément horizontalement sur la page */
.center {
  text-align: center;
  margin: auto;
}

/* ajouter la classe .center-top pour centrer un élément verticalement sur la page */
.center-top {
  margin-top: 50vh;
  transform: translateY(-100%);
}

/* Réglage couverture */
.cover {
  position: absolute;
  width: calc(var(--total-cover));
  height: calc(var(--cover-height));
  margin: 0mm;
  padding: 5mm;
  display: grid;
  grid-template-columns: var(--cover-width) var(--back-cover) var(--cover-width);
}

/* Trait de coupe */
.crop-marks {
  position: absolute;
  width: calc(var(--cover-width) + var(--back-cover) + var(--cover-width));
  height: var(--cover-height);
  z-index: -1;
}

.crop-mark {
  position: absolute;
  border: solid var(--color-cropmark);
  width: calc(var(--cover-width) + var(--back-cover) + var(--cover-width));
  height: var(--cover-height);
}

.crop-mark.vertical {
  width: 100%;
  top: -5mm;
  border-width: 0 1px;
}

.crop-mark.horizontal {
  left: -5mm;
  border-width: 1px 0;
}

/* .cover::before {
  content: "";
  position: absolute;
  top: -5mm;
  width: calc(var(--page-width) * 2 + var(--back-cover));
  height: calc(var(--page-height) + 10mm);
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.cover::after {
  content: "";
  position: absolute;
  left: -5mm;
  width: calc(var(--page-width) * 2 + var(--back-cover) + 10mm);
  height: var(--page-height);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}  

#back::before{
  z-index: 99;
  content: "";
  position: absolute;
  top: -5mm;
  left: var(--page-width);
  height: calc(var(--page-height) + 10mm);
  width: var(--back-cover);
  border-left: 1px solid black;
  border-right: 1px solid black;
} */



.couv {
  display: inline-block;
}

/* Première de couverture */
#first {
  margin: 0;
  /* marge : top               right                     bottom             left  */
  padding: var(--page-margin) var(--page-margin-center) var(--page-margin) var(--page-margin);
}

/* Dos */
#back {
  margin: 0;
  padding: 0.2cm;
}

#back h3 {
  font-weight: bold;
  transform: rotate(90deg);
  margin-top: 10cm;
  font-size: 30px;
  margin-right: 0.06cm;
}

#back p {
  position: absolute;
  margin-left: 0.2cm;
  bottom: 0.6cm;
}

#fourth {
  margin: 0;
  /* marge : top               right                     bottom             left  */
  padding: var(--page-margin) var(--page-margin) var(--page-margin) var(--page-margin-center);

}

/* affiche les éléments ayant la classe print */
.print {
  display: block;
}

/* n'affiche pas les éléments ayant la classe screen */
.screen {
  display: none;
}


@media print {

  /* paramètres de la page, choisir le format d'export */
  @page {
    size: A3 landscape;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Paramètres de la page */
  /* Page settings */
  .page {
    --page-padding-vertical: calc(var(--page-height)- var(--cover-height));
    --page-padding-horyzontal: calc(var(--page-width) - var(--total-cover));
    width: calc(var(--page-width) + 1);
    height: calc(calc(var(--page-height) - var(--page-margin) * 2) - 1mm);
    page-break-after: always;
    position: relative;
    padding: calc(29.7cm - 21cm) calc(42cm - var(--total-cover));
  }

  #back,
  #fourth,
  #first {
    border: inherit;
  }

  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* Trait de coupe */
  /*.cover{
    background:
      linear-gradient(to right, black 1px, transparent 1px) 0 0,
      linear-gradient(to right, black 1px, transparent 1px) 0 100%,
      linear-gradient(to left, black 1px, transparent 1px) 100% 0,
      linear-gradient(to left, black 1px, transparent 1px) 100% 100%,
      linear-gradient(to bottom, black 1px, transparent 1px) 0 0,
      linear-gradient(to bottom, black 1px, transparent 1px) 100% 0,
      linear-gradient(to top, black 1px, transparent 1px) 0 100%,
      linear-gradient(to top, black 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}*/
  /* Réglage couverture */
  .cover {
    width: calc(var(--cover-width)+var(--back-cover)+var(--cover-width));
    height: var(--cover-height);
    display: grid;
    grid-template-columns: var(--cover-width) var(--back-cover) var(--cover-width);
  }

  /* Première de couverture */
  #first {
    margin: 0;
    /* marge : top               right                     bottom             left  */
    padding: var(--page-margin) var(--page-margin-center) var(--page-margin) var(--page-margin);
  }

  /* affiche les éléments ayant la classe print */
  .print {
    display: block;
  }

  /* n'affiche pas les éléments ayant la classe screen */
  .screen {
    display: none;
  }


}